@media only screen and (max-width:600px){.cs_footer,.cs_footer_copyright{-webkit-border-top-left-radius:20px;-webkit-border-top-right-radius:20px}.cs_feedback_left,.cs_footer,.cs_footer_copyright{-moz-border-radius-topleft:20px;-moz-border-radius-topright:20px}.cs_auth_row,.cs_otk_row{box-shadow:none}.cs_footer{background:#283646;border-top-left-radius:20px;border-top-right-radius:20px}.cs_footer_copyright{background:#44576d;border-top-left-radius:20px;border-top-right-radius:20px;margin-top:-20px}.cs_footer_menu_col,.cs_service_container{margin-bottom:20px}.cs_feedback_left{-webkit-border-top-left-radius:20px;-webkit-border-top-right-radius:20px;background:#0e4f95;border-radius:16px 16px 0 0}.cs_feedback_button{width:100%!important;margin-top:10px}.cs_feedback_right{background:#1fb6ea;border-radius:0 0 16px 16px;padding:20px 60px}.cs_feedback_phone,.cs_sitemap ul li{font-size:14px}.cs_title_col{text-align:left!important;margin-top:20px;margin-bottom:10px}.cs_service_row{background:#fafafa;border-radius:16px;margin:0 0 10px}.cs_service_title{font-size:13px;padding-top:22px;text-align:left!important}.cs_mob_main_menu_row,.cs_mobile_call{text-align:center!important;font-size:13px}.cs_info_text h1{font-size:24px;color:#28486a}.cs_mobile_call_left{background:#e7edf4;padding:20px;color:#0e4e93;cursor:pointer}.cs_mobile_call_left a{color:#0e4e93;text-decoration:none}.cs_mobile_call_right{background:#61bc5a;padding:20px;color:#fff;cursor:pointer}.cs_mobile_call_icon{margin-bottom:5px}.cs_mobile_call_icon img,.cs_navbar_button img{height:20px}.cs_info_row{padding-top:20px;padding-bottom:0}.cs_mob_main_menu_row{background:#3fabf3;margin:0 0 20px;border-radius:16px;color:#fff;padding:17px}.cs_mob_main_menu_icon img{height:40px;margin-top:10px;margin-bottom:10px}.cs_mobile_manshet_row{background:#0e4f95;border-radius:16px;color:#fff;font-size:13px;padding:20px;margin:0 0 30px}.cs_mobile_manshet_title h1{font-size:20px}.cs_mobile_manshet_text p{font-size:12px}.cs_header_top_row{border-bottom:.5px solid #bababa}.modal-dialog{position:fixed;width:100%;top:auto;right:auto;left:auto;padding:0;margin:0}.cs_header_search_inp,.cs_main_about_video{width:100%!important}.modal-content{border:none;-webkit-border-top-left-radius:20px;-webkit-border-top-right-radius:20px;-moz-border-radius-topleft:20px;-moz-border-radius-topright:20px;border-top-left-radius:20px;border-top-right-radius:20px}.modal-header{border:none;padding-bottom:0;color:#2b4a6c}.modal-header h5{font-weight:500;font-size:24px;line-height:28px}.cs_main_online_cons_bg{-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;padding-top:40px;padding-bottom:40px}.cs_main_about_video{height:215px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px}.cs_main_about_video iframe{width:100%!important;max-width:100%!important;height:215px}.cs_main_info{padding:10px 20px}.cs_main_info_mt{margin-top:15px;margin-bottom:10px}.cs_auth_mt,.cs_dc_about,.cs_dc_other{margin-bottom:30px}.cs_comment_container{margin-top:30px}.cs_slider_footer_right_row h7{font-size:16px;font-weight:600;margin-bottom:10px;float:left}.cs_info_text_lg h1{font-size:25px;line-height:37px}.cs_small_img{height:220px}.cs_otk_left_col{border:none;-webkit-border-radius:0px;-moz-border-radius:0;border-radius:0}.cs_otk_li{border-top:.5px solid #e0e0e0;padding-left:0!important;padding-right:0!important}.cs_otk_li_icon i{float:left}.cs_otk_li_col h5{margin-top:5px;margin-bottom:5px}.cs_otk_right_col{background:0 0;padding:0}.cs_auth_right_col{padding:0 30px}.cs_auth_row{border:none;-webkit-border-radius:0px;-moz-border-radius:0;border-radius:0}.cs_auth_mt{margin-top:20px}.cs_profile_info{border:none;-webkit-border-radius:0px;-moz-border-radius:0;border-radius:0;padding:0}.cs_profile_menu{border:none;padding:0}.cs_dc_title h1{font-family:Roboto;font-style:normal;font-weight:500;font-size:24px;line-height:25px;color:#28486a}.cs_doctor_card_img{height:245px}.cs_doctor_card_raiting span{font-size:10px;line-height:12px;padding:5px 10px;float:left}.cs_dc_other{background:#fff;padding:15px}.cs_dc_tab_pans{padding:0}.cs_modal_content{width:92%;margin-left:4%;margin-right:4%;padding:15px;margin-top: 20px;}.cs_dt_tab_web,.cs_slider_footer_right{display:none}.cs_dt_tab_mob{display:block}.cs_dc_tab_li span{padding-top:20px;font-size:11px;font-weight:400}.cs_src_img_col,.cs_src_img_col img{width:40px}.cs_src_img_col span{width:40px;height:40px}.cs_src_name_col{width:200px}.cs_src_name_col span{font-weight:600;font-size:16px;line-height:20px;margin-top:15px}.cs_dc_info_title{font-weight:500;font-size:17px;line-height:20px;color:#28486a}.cs_dc_info_desc{font-weight:400;font-size:16px;line-height:160%;color:#28486a}.cs_dc_info{font-weight:400;font-size:13px;line-height:140%;color:#28486a}.cs_mobile_favorite a{font-size:13px;text-decoration:none;color:#000}.cs_mobile_menu_btn{color:#28486a;font-size:26px;float:left;margin-top:2px;margin-right:20px}.cs_filter_close,.cs_otk_close{font-size:30px;color:#b7b7b7;text-decoration:none}.cs_mob_filter_link a{border:1px solid #f1f3f7;background-color:#f8f9fd;padding:10px 12px;font-size:13px;line-height:14px;margin-top:2px;float:left}.cs_filter_row,.cs_filter_row_pro{float:left;left:0;position:absolute;width:100%;z-index:99999;top:0;background-color:#fff}.cs_filter_close{float:right}.cs_otk_mobile_form{background-color:#fff;z-index:999;position:absolute;top:10%;left:0;padding:25px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}.cs_profile_premium_info{padding:10px;width:auto}.cs_file_upload{background:url(../img/icon-file.png) 25px 37px no-repeat #f1f1f1;padding:30px 0 30px 124px}.cs_profile_photo{margin-top:20px;text-align:left!important}.cs_file_upload_link{text-align:left!important;float:left!important;width:100%}#container_1,#container_2,#container_3{height:300px}.alert-info{font-size:11px;padding:10px}.cs_modal_bg{display:none;background-color:#000;opacity:.5;width:100%;height:100%;position:fixed}#otk_doctor_schedule{min-height:240px}#doctor_schedule_button{font-size:20px;width:100%;padding:15px}.cs_otk_close{margin-top:-8px;right:20px;position:absolute}.cs_otk_doc_price{text-align:left;position:absolute;margin-top:-290px}.form-group label{font-size:15px}#DoctorScheduleModal{top:10%}.cs_doctor_schedule_modal_body{min-height:315px;padding-top:80px}.cs_mobile_header_account{width:40px;height:40px;display:block;float:right;font-size:20px;font-weight:400;color:#fff;text-align:center;padding-top:6px;background-color:#0e4f95;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}.cs_mobile_header_account a{color:#fff;text-decoration:none}.cs_info_desc{font-size:12px;line-height:20px;margin-bottom:20px}.cs_langluage_button{border: none; background: none;margin-top:0;float:right}.cs_langluage_mobile{display:block;position: absolute; top: 20px;float:right;width:50px;right:20px}.cs_hide_mob{display:none}.cs_show_mob{display:block}.cs_src_col_modal{display:block}.cs_main_search_result{top:0;left:0;position:fixed;height:120%;min-height:120%;width:100%;padding-top:180px}.cs_search_modal_fixed{text-transform: none;position:fixed;z-index:9999;top:10px;width:75%!important;max-width:94%!important}


.cs_tm_card_photo {
	background-size: 75%;
}

.cs_dcn_card_photo {
	width: 100px;
	height: 100px;
	margin-left: 15%;
}

.cs_dcn_title h3 {
	font-size: 17px;
}

.cs_dcn_info {
	margin-top: 15px;
	font-size: 12px;
}

.cs_mobile_srcm_close {
	position: fixed;
	top: 10px;
	right: 20px;
	width: 45px;
	height: 35px;
	z-index: 9999;
}

.cs_mobile_srcm_close a {
	font-size: 16px;
	line-height: 40px;
	color: #28486a;
	text-decoration: none;
}

.cs_article_content img {
	min-width: 100% !important;
	max-width: 100% !important;
}

.cs_langluage_mobile {
	padding: 0px;
	margin: 0px;
}

.cs_langluage_mobile img {
	max-width: 100%;
}

.cs_dc_tab_pan {
	padding: 0px;
	margin: 0px;
}

.cs_footer_menu_col h5 {
	font-size: 18px;
}

.cs_footer_menu_col ul li a {
	font-size: 18px;
    line-height: 30px;
	padding: 8px 0px 8px 16px;
    color: rgba(255, 255, 255, 0.6);
}

.cs_footer_social_icons li {
	border: 1px solid rgba(255, 255, 255, 0.6);
	margin-right: 10px;
	width: 48px;
	height: 48px;
	border-radius: 5px;
}

.cs_register_form {
	color: #fff;
}

.cs_call_fixed_row {
	display: block;
}

.cs_call_fixed_scroll {
	display: none;
}

.cs_otk_button {
	font-size: 17px;
}

}